<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Matlab</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>C#</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Labview</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Designs Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Altium Designer</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Photoshop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Auto CAD</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Inventor</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">IELTS 6.5</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>Germany</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">B1</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>Chinese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">Native</div>
            </div>
            <!-- /.skillbar -->
            
           
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="images/portfolio/CV of Yu Huang.pdf">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->
        <br/>

        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
       
        <!-- /.attributes -->
        <br>  

        <ul class="attributes">
            <li class="first">
                <h5>Academic Master<span class="duration"><i class="fa fa-calendar color"></i> 2016 - 2019</span></h5>
                <h6><span class="fa fa-book"></span> University of Shanghai for Science and Technology</h6>
                <p> Major: Signal and Information Processing <br/> 
                    Thesis: Research on optical en/decoding techniques in secure optical communication <br/> 
                    Supervisor: Dr. Bo Dai<br/> 
                    Grade: 83.5/100</p>
            </li>
            <li>
                <h5>Bachelor of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2011 - 2015</span></h5>
                <h6><span class="fa fa-book"></span> Xi’an JiaoTong University </h6>
                <p> Major: Information Processing <br/>
                    Thesis: Space keying shift based MIMO wireless communication system</p>
            </li>
        </ul>

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Research Assistant <span class="duration"><i class="fa fa-calendar color"></i> 2018 - Present</span></h5>
                <h6><span class="fa fa-briefcase"></span> Project: Diagnosis and detection of swine diseases, supported by National Key Research and Development Program of China</h6>
                <p>     • Invented a microplate reader for point of care testing of Enzyme-Linked Immunosorbent Assays (ELISA).<br/> 
                        • Designed the electrical hardware of the microplate reader.<br/> 
                        • Programmed and debugged the bundled Windows application for the microplate reader using C# and programmed its core algorithm based on artificial neural network.<br/> 
                        • Jointly designed and fabricated the microlens array for light coupling.</p>
            </li>
            <li>
                <h5>Research Assistant <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2018</span></h5>
                <h6><span class="fa fa-briefcase"></span> Project: Secure optical communication based on one-time-password symbol-overlapping en/decoding technique, supported by National Natural Science Foundation of China</h6>
                <p>     • Designed and experimentally set up a repetition-rate/center wavelength tunable pulse generator system for the high-speed (>20 Gbit/s) optical communication system.<br/> 
                        • Theoretically validated the enhancement of confidentiality in overlapping en/decoding scheme based system.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Gold Prize <span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> "Chanllenge Cup" National Academic Science and Technology Competition</h6>
                <p>Entries name: Microplate reader covering the entire visible spectrum.</p>
            </li>
            <li>
                <h5>Second Prize <span class="duration"><i class="fa fa-calendar color"></i> 2014</span></h5>
                <h6><span class="fa fa-trophy"></span> National Undergraduate Electronics Design Contest</h6>
                <p>Entries name: Audio power amplifier with howling detection and suppression.</p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">References</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
                <img src="images/img/db.jpg" class="img_reference" width="100" height="100" alt="">
                <p>Associated director of Engineering center of the Ministry of Education for Optical Instrument and System, <br/>University of Shanghai for Science and Technology. <br/>E-mail: lioneldai2014@163.com.</p>
                <span>Bo Dai, Associate Professor</span>
            </li>
            <li class="clearfix">
                <img src="images/img/zdw.png" class="img_reference" width="100" height="100" alt="">
                <p>Director of Science and Technology Department, <br/>University of Shanghai for Science and Technology. <br/>E-mail: dwzhang@usst.edu.cn</p>
                <span>Dawei Zhang, Professor</span>
            </li>
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->