<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Life</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catin catout">All</span></li>
            <li><span class="filter" data-filter="catin">School Life</span></li>
            <li><span class="filter" data-filter="catout">Outside School</span></li>            
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catin" data-cat="catin">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/1.JPG" rel="portfolio" >
                        <img src="images/portfolio/1.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Circuit Designing</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catin" data-cat="catin">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/2.JPG" rel="portfolio" >
                        <img src="images/portfolio/2.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Circuit Designing</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/3.JPG" rel="portfolio" >
                        <img src="images/portfolio/3.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Circuit Designing</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/4.JPG" rel="portfolio" >
                        <img src="images/portfolio/4.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Circuit Designing</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/5.JPG" rel="portfolio" >
                        <img src="images/portfolio/5.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Circuit Designing</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a1.JPG" rel="portfolio" >
                        <img src="images/portfolio/a1.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Shanghai</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a2.JPG" rel="portfolio" >
                        <img src="images/portfolio/a2.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">High-speed Train</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/6.JPG" rel="portfolio" >
                        <img src="images/portfolio/6.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Fabrication of optics device</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/7.JPG" rel="portfolio" >
                        <img src="images/portfolio/7.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">A microfluidics chip</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/8.JPG" rel="portfolio" >
                        <img src="images/portfolio/8.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Homemade microplate reader</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/9.JPG" rel="portfolio" >
                        <img src="images/portfolio/9.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Debugging the homemade microplate reader</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a3.JPG" rel="portfolio" >
                        <img src="images/portfolio/a3.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Sagrada Familia </a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->
            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a4.JPG" rel="portfolio" >
                        <img src="images/portfolio/a4.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">The Vatican Museum </a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a5.JPG" rel="portfolio" >
                        <img src="images/portfolio/a5.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">The Vatican Museum </a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a6.JPG" rel="portfolio" >
                        <img src="images/portfolio/a6.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">The Vatican Museum </a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a7.JPG" rel="portfolio" >
                        <img src="images/portfolio/a7.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Amsterdam</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a8.JPG" rel="portfolio" >
                        <img src="images/portfolio/a8.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Amsterdam</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	


            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/10.JPG" rel="portfolio" >
                        <img src="images/portfolio/10.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Introducing the homemade microplate reader</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/11.JPG" rel="portfolio" >
                        <img src="images/portfolio/11.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Conference Room</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12.JPG" rel="portfolio" >
                        <img src="images/portfolio/12.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Attend the academic conference</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/13.JPG" rel="portfolio" >
                        <img src="images/portfolio/13.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Best Post Award</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/14.JPG" rel="portfolio" >
                        <img src="images/portfolio/14.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">EDFA</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/15.JPG" rel="portfolio" >
                        <img src="images/portfolio/15.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title"> A V-Type connector</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/16.JPG" rel="portfolio" >
                        <img src="images/portfolio/16.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Experimental setup</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/16.JPG" rel="portfolio" >
                        <img src="images/portfolio/16.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Experimental result</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a9.JPG" rel="portfolio" >
                        <img src="images/portfolio/a9.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Above Doha</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a10.JPG" rel="portfolio" >
                        <img src="images/portfolio/a10.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Santorini</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a11.JPG" rel="portfolio" >
                        <img src="images/portfolio/a11.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Santorini</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a12.JPG" rel="portfolio" >
                        <img src="images/portfolio/a12.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Venice</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a13.JPG" rel="portfolio" >
                        <img src="images/portfolio/a13.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Venice</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a21.JPG" rel="portfolio" >
                        <img src="images/portfolio/a21.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Venice</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/18.JPG" rel="portfolio" >
                        <img src="images/portfolio/18.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">ELISA demo</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/19.JPG" rel="portfolio" >
                        <img src="images/portfolio/19.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Homemade microplate reader for checking in the project</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/20.JPG" rel="portfolio" >
                        <img src="images/portfolio/20.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Adjust the light path</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a14.JPG" rel="portfolio" >
                        <img src="images/portfolio/a14.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Paris</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a15.JPG" rel="portfolio" >
                        <img src="images/portfolio/a15.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Nice</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a18.JPG" rel="portfolio" >
                        <img src="images/portfolio/a18.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Nice</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a16.JPG" rel="portfolio" >
                        <img src="images/portfolio/a16.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Amstrtdam</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a17.JPG" rel="portfolio" >
                        <img src="images/portfolio/a17.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Milano Domo</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/21.JPG" rel="portfolio" >
                        <img src="images/portfolio/21.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Lab meeting</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/22.JPG" rel="portfolio" >
                        <img src="images/portfolio/22.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">LUPO member</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>

            <div class="portfolio catin" data-cat="catin">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/23.JPG" rel="portfolio" >
                        <img src="images/portfolio/23.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">An optofluidcs device</a>
                                <span class="text-category">School Life</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a18.JPG" rel="portfolio" >
                        <img src="images/portfolio/a18.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Vantican</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a20.JPG" rel="portfolio" >
                        <img src="images/portfolio/a20.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Beijing</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	


            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a22.JPG" rel="portfolio" >
                        <img src="images/portfolio/a22.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Hongkong</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	


            <div class="portfolio catout" data-cat="catout">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="images/portfolio/a23.JPG" rel="portfolio" >
                        <img src="images/portfolio/a23.JPG" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Dali</a>
                                <span class="text-category">Outside School</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->